.siteNav {
    background-color: #0b0b31;
    color: #a9a9a9;
}

.siteNav .pageLinks ul {
    list-style: none;
}

.siteNav .pageLinks li {
    display: inline-block;
}

.siteNav .pageLinks a {
    color: #a9a9a9;
}

.logoNav {
    background-color: #f2f3f5;
}